name: Commit list - STAGING

on:
  push:
    branches:
      - staging

jobs:
  stage-list-commits:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Joined the list
        run: |
          git log --pretty=format:"%H - %an <%ae> - %s - %ad"
